@import 'heading';
@import 'navbar';

.streams-gallery {
	width : 90%;
	margin : 0 auto 5%;	
	color : #fff;
	border  :none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color : #6441a5;
}

.streams {	
	display : grid;
	grid-template-columns : 1fr;
	justify-items : center;
	padding : 3vh;
}

@media (min-width : 768px) {
	
	.streams {
		grid-template-columns : 1fr 1fr;
		grid-gap : 3vh;
	}

}

@media (min-width : 1000px) {
	
	.streams {
		grid-template-columns : 1fr 1fr 1fr;
		grid-gap : 3vh;
	}

}

@media (min-width : 1300px) {
	
	.streams {
		grid-template-columns : 1fr 1fr 1fr 1fr;
		grid-gap : 3vh;
	}

}