@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto');

body, html, .root {
	margin: 0;
	padding: 0;
	height : 100%;
	font-family : "Roboto", sans-serif;
}

a {
	display        : inline;
	text-decoration: none;
	color          : black;
}

a:hover, a:focus {
	color : #6441a5;
}